@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  background-color: #121212;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: 'Lato';
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border-bottom: 1px solid #525151;
  padding: 8px;
  height: 2rem;
  width: 4rem;
}

th {
  background-color: #ebc634;
  color: #121212;
}

/*
.button_swipe {
  background: linear-gradient(to right, #ebc634 50%, #121212 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .4s ease-out;
}

.button_swipe:hover {
    background-position: left bottom;
}
*/